.features {
  display: flex;
  align-items: left;
  padding: 2rem;
  width: 100%;
  height: max-content;
  border-color: aqua;
}

.featureSvg {
  height: 75px;
  width: 75px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
